<h1>Coin Counter</h1>
<form action="/detector" class="form-group">
  <label>Coins?
  <input type="text" id="coin" name="coin">
  </label>
  <button type="submit" class="btn btn-success" name="button">Calculate</button>
</form>
